*{
	margin: 0%;
	padding: 0%;
}

/*Cajas*/

.txtrgtro{
	margin-top: 5%;
	padding-left: 45%;
}


.top{
	margin-top: 10%;
	padding-left: 38%;

}

.mid{
	margin-top: 2%;
	padding-left: 38%;

}

.buttom{
	margin-top: 2%;
	padding-left: 38%;

}

.fin{
	margin-top: 2%;
	padding-left: 38%;
}


/*Elementos individuales*/


#reg{
	margin:20% 0% 0% 0% ;
}


#prenomtxt{
	margin: 0% 0% 0% 0% ;
}

#meiltxt{
	margin: 0% 0% 0% 4.5% ;
}

#nomtxt{
	margin: 0% 0% 0% 0%;
}

#passwdtxt{
	margin: 0% 0% 0% 4.5% ;
}


#mailtxt{
	margin: 0% 0% 0% 0% ;
}

#passwd2txt{
	margin: 0% 0% 0% 11% ;
}

#submit{
	margin: 0% 0% 0% 16% ;
}





