*{
	margin: 0%;
	padding: 0%;
}

/*Cajas*/

div.txtrgtro{
	margin: 0% 0%;
	padding: 2% 45% 2% 40%;
	background-color: #14213D;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;
}


div.top{
	margin: 0% 0%;
	padding: 1% 35% 0% 30%;
	background-color: #FCA311;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;
}

div.mid{
	margin: 0% 0%;
	padding: 1% 35% 0% 30%;
	background-color: #FCA311;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;

}

div.buttom{	
	margin: 0% 0%;
	padding: 1% 35% 0% 30%;
	background-color: #FCA311;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;

}

div.fin{
	margin: 0% 0%;
	padding: 1% 35% 0% 30%;
	background-color: #FCA311;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;

}


/*Textos*/

h1#reg{
	position: relative;
	left: 20%;

}


#prenomtxt{
	position: relative;
	left: 17%;
}

#mailtxt{
	position: relative;
	left: 25%;
}

#nomtxt{
	position: relative;
	left: 17%;

}

#passwdtxt{
	position: relative;
	left: 25%;

}


#instituciontxt{
	position: relative;
	left: 17%;

}

#passwd2txt{
	position: relative;
	left: 37%;

}




/*Elementos individuales*/


#prenom{
	position: relative;
	left: 17%;
}

#mail{
	position: relative;
	left: 17%;
}

#nom{
	position: relative;
	left: 17%;
}

#passwd{
	position: relative;
	left: 17%;

}


#institucion{
	position: relative;
	left: 17%;

}

#passwd2{
	position: relative;
	left: 17%;

}


#submit{
	position: relative;
	left: 45%;

}
