*{
	margin: 0%;
	padding: 0%;
	background-color: #ffffff;
}

.txtdwlcm{
	margin:0% 0% 0%;
	padding: 2% 40% 2%;	
	background-color: #14213D;
}

div.botones{
	margin:0% 0%;
	padding:0% 0% 0% 0%;	
	background-color: #FCA311;

}


/* Texto */
#IdS{ 
	color: #ffffff;
	font-family: "Quicksand", sans-serif;
	background-color: #14213D;
}


/* Texto */
#mailtxt{
	position: relative;
	left: 45%;
	background-color: #FCA311;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;
}


#mail{
	position: relative;
	left: 42%;
	background-color: #ffffff;
}


/* Texto */
#passwdtxt{
	position: relative;
	left: 44.5%;
	background-color: #FCA311;
	color: #ffffff;
	font-family: "Quicksand", sans-serif;
}


#passwd{
	position: relative;
	left: 42%;
	background-color: #ffffff;
}


#submit{
	position: relative;
	top: 10%;
	left: 45.5%;
	background-color: #FCA311;

}