.tabs1{
	color: #14213d;
}

.tabs1:hover{
	color: #fca311;
}


.tabs2{
	color: #14213d;
}

.tabs2:hover{
	color: #fca311;
}

.tabs3{
	color: #14213d;
}

.tabs3:hover{
	color: #fca311;
}

.tabs4{
	color: #14213d;
}

.tabs4:hover{
	color: #fca311;
}